.sobre-nosotros {
  padding: 2rem;
  text-align: center;
}

.titulo-seccion {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-style: italic;
  color: #000000;
}

.nosotros-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.card {
  background: #9a9a9aa6;
  border: 3px solid #0011fe;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 21, 255, 0.524);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 0px #00000093;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.modal-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 800px;
  width: 100%;
  text-align: left;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
  color: #000000;
}
